@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ql-container.ql-snow {
  border: none !important;
}

.navbarGradient {
  background: linear-gradient(135deg, #0056b3, #007fff, #66b2ff);
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-logo img {
  margin-right: 8px;
}

.navbar-logo span {
  font-size: 1.2rem;
  letter-spacing: 1px;
}


.navbar-link{
  padding: 0.5rem 1rem;
}
.navbar-link:hover,
.navbar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease-in-out;
  padding: 0.5rem 1rem;
}

.navbar-button {
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.login {
  background: linear-gradient(135deg, #004e8c, #007fff);
  color: white;
}

.signup {
  background: linear-gradient(135deg, #ffd700, #ffb700);
  color: #004e8c;
}

.signup:hover {
  background: linear-gradient(135deg, #ffb700, #ffd700);
  color: #003366;
}


input::-webkit-clear-button {
  display: none;
}

/* Hide the clear button in Firefox */
input::-moz-clear-button {
  display: none;
}

/* Hide the clear button in Edge */
input::-ms-clear {
  display: none;
}